<a href="https://colab.research.google.com/github/woomook0524/google_colab/blob/main/python_basic_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World") # ctrl + enter 치면 현재 셀 실행 <- # 하고 쓰면 주석 처리됨
# <- ctrl+/로 토글 <- 드래그하고 ctrl+/ 하면 여러 줄 토글 가능
# alt+enter하면 실행하고 밑에다가 셀을 새로 만듦
# esc하면 방향키 위아래로 셀 왔다갔다. 엔터 치면 다시 코드 작성. 이 모드에서 a 하면 위에 셀, b 하면 아래에 셀 만듬
# ctrl + m, d 하면 셀 삭제
# ctrl + z, ctrl + shift + z, ctrl + c, ctrl + v
#
#
#
#
#

Hello World

# 큰 제목
## 그 다음으로 큰 제목
### **그그 다음으로 큰**

- 1
 - 1 - 1
   - 1-1-1

> ㅎㅎ
>> ㅎㅎㅎ

$y=x$

```python
print("hello World")
a=1
b=2
```
[유튜브](http://youtu.be/I)

#파이썬은 계산기다!

In [ ]:
1+1

2

In [ ]:
4//2

2

In [ ]:
print(0b00011) # 0b는 2진수
print(0xA) # 0x는 16진수

3

In [ ]:
1**2 == 1

True

In [ ]:
print(bool(2000))

True

In [ ]:
print(bool(-1))

True

In [ ]:
a=[1,2,3]
print(a*2)

[1, 2, 3, 1, 2, 3]

In [ ]:
int(2.9)

2

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
b=a[0:3] # 0 부터 3 미만번쨰
print(b)

print(a[:5]) #첫번째 자리를 비우면 처음 것부터
print(a[5:]) # 두번째 자리를 비우면 마지막까지
print(a[:])
print(a[:7:2])
print(a[7::2])
print(a[::2])
print(a[::])

[1, 2, 3]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7]
[8, 10]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a= range(1,10,2)
print(a)

range(1, 10, 2)

In [ ]:
a=zip(["a", "b"], [1,2])
print(list(a))

[('a', 1), ('b', 2)]

In [ ]:
a=[1,2,3,4,5]
j=1
for i in a:
    print(j,"번째에",i,"가 들어있어요")
    j+=1

1 번째에 1 가 들어있어요
2 번째에 2 가 들어있어요
3 번째에 3 가 들어있어요
4 번째에 4 가 들어있어요
5 번째에 5 가 들어있어요

In [ ]:
a=[2,2,6,8,4]
for i, val in enumerate(a, start = 2):
    print(i,"번째에", val,"가 들어있어요")

2 번째에 2 가 들어있어요
3 번째에 2 가 들어있어요
4 번째에 6 가 들어있어요
5 번째에 8 가 들어있어요
6 번째에 4 가 들어있어요

In [ ]:
for i in range(4):
    print("*"*(i+1))

*
**
***
****

In [ ]:
a=[1,2,3]
b=a.copy()
b[1]=10
print("a=",a,"b=",b)

a= [1, 2, 3] b= [1, 10, 3]

In [ ]:
print(round(1.51561391,3))

1.516

In [ ]:
b=[2,4,6,3,2]
c=[5,6,3,1,4]
a=[i-j for i, j in zip(b, c)]
print(a)
print(zip(b,c))

[-3, -2, 3, 2, -2]
<zip object at 0x7adce4e34d80>

In [ ]:
a=[[1,2,3,4],[5,6,7,8]]

for x, y, z, w in a:
    print(x,y,z, w)

1 2 3 4
5 6 7 8

In [ ]:
#task a=[[0,0],[0,0],[0,0]] using for in
[[0 for i in range(2)] for j in range(3)]

[[0, 0], [0, 0], [0, 0]]

# 텍스트 파일 만들고 쓰기

In [ ]:
import os
folder_name = "saved"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

with open("saved/Hello.txt","w") as f: #with:열린채로 실행해, w모드면 만들어줌
    f.write("hello World!\n")
    f.write("Hello World!2\n")
    f.write("Hello World!3")

In [ ]:
with open("saved/Hello.txt", "r") as f:
    line= None #None으로 해야 공백("")과 구별이 되어서 while이 돈다.
    while line !="":
        line=f.readline()
        print(line, end="")

hello World!
Hello World!2
Hello World!3

#함수

In [ ]:
def f(a):
    a=5

a=3
f(a)
print(a)

3

In [ ]:
#call by assignment
def f(x):
    x[0]=5 # 내부에서 리스트 자체에 접근하면 (mutable하면 속 값이 변해서 밖에서도 변해있음!)

a=[1,2]
f(a)
print(a)

[5, 2]

In [ ]:
x=(10, 20)
print(x)
print(*x) #언패킹

(10, 20)
10 20

In [ ]:
def introduce1(name, age, address):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}이다.")

In [ ]:
def introduce2(name, age="비밀", address="비밀"): #디폴트 값이다!
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}이다.")

introduce2("묵이")

이름은 묵이이고 나이는 비밀살이고 사는 데는 비밀이다.

In [ ]:
# def introduce3(name="혁펜", age, address="비밀") #이렇게하면 선언이 안됨, 디폴트 값을 정할 녀석들은 모두 뒤쪽으로

def introduce4(name="비밀", age="비밀", address="비밀"):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}이다")

introduce4()

이름은 비밀이고 나이는 비밀살이고 사는 데는 비밀이다

In [ ]:
d = {"name":"혁펜", "age":100, "address":"한국"}
print(*d)
introduce4(*d) # introduce4("name", "age", "address")와 동일, dictionary의 key
print({**d})
introduce4(**d) # introduce4(name = "혁펜", age = 100, address = "한국") 와 동일, dictionary의 value

name age address
이름은 name이고 나이는 age살이고 사는 데는 address이다
{'name': '혁펜', 'age': 100, 'address': '한국'}
이름은 혁펜이고 나이는 100살이고 사는 데는 한국이다

In [ ]:
def my_func(**kwargs): #keyword arguments, 딕셔너리로 묶어 받는다.
    print(f"kwargs에는 {kwargs}가 들어가있다. 타입은 {type(kwargs)}라고 한다")

my_func(name="혁펜")
my_func(name="혁펜", age=100, address = "한국")

kwargs에는 {'name': '혁펜'}가 들어가있다. 타입은 <class 'dict'>라고 한다
kwargs에는 {'name': '혁펜', 'age': 100, 'address': '한국'}가 들어가있다. 타입은 <class 'dict'>라고 한다

In [ ]:
def introduce(**kwargs):
    if "name" in kwargs: # "name"이라는 key가 kwargs에 있다면
        print("이름은", kwargs["name"], "입니다")
    if "age" in kwargs:
        print("나이는", kwargs["age"], "입니다")
    if "address" in kwargs:
        print("사는 곳은", kwargs["address"], "입니다")
introduce(name="혁펜", age=100, address="홍제")
introduce(name="묵")

이름은 혁펜 입니다
나이는 100 입니다
사는 곳은 홍제 입니다
이름은 묵 입니다

In [ ]:
def say(): # 이런걸 재귀함수
    print("Hello World!")
    #say()

say()

Hello World!

In [ ]:
def say(count):
    if count==0:
        return
    print("Hello")
    count -= 1 #count = count - 1
    say(count)

say(3)

Hello
Hello
Hello

In [ ]:
def factorial(i):
    if i ==1:
        return 1
    else :
        return i*factorial(i-1)

factorial(5)

120

#로컬변수와 글로벌 변수

In [ ]:
EPOCH = 2
BATCH = 5 #글로벌 변수

def treain(weight):
    x = 1

#람다 표현식

In [ ]:
def plus_ten(x):
    return x+10

plus_ten(10)

20

In [ ]:
plus_ten = lambda x: x+10 # 입력이 x, 출력이 x+10

plus_ten(5)

15

In [ ]:
f = lambda a, b : a-b
print(list(map(f,[1,2,3], [2,3,4])))

[-1, -1, -1]

In [ ]:
f = lambda x:2*x if x%2==0 else x #람다표현식에서 if 썼으면 else도 반드시 필요!
print(list(map(f,[1,2,3,4])))

[1, 4, 3, 8]

In [ ]:
f = lambda x : 2*x if x==1 else 3*x if x==2 else x
print(list(map(f,[1,2,3,4])))

[2, 6, 3, 4]

#클래스

In [ ]:
# 로봇을 만든다고 해보자 -> 로봇의 키가 몇이고 몸무게가 몇이고, 안녕이라고 말하면서 인사를 하는 기능이 있고...
# 클래스는 좀 큰 변수를 만든다고 봐야... a= 1 은 숫자 한 개 들어간 변수,
# a에 숫자 한 개도 넣고 리스트도 넣고 그것들을 가지고 뭔가 기능을 하는 함수를 만들어 넣고 그럴 순 없을까?
# 객체(object) 지행(oriented) 프로그래밍(programming)
class Robot:
    def greeting(self): #메서드(method): 클래스 내부의 함수, 첫 번째 매개변수는 무조건 self (인스턴스 자기자신)
        print("Hello")

bot1 = Robot() # Robot 이라는 클래스에 해당하는 instance 만들기(실체화), 나중에는
bot1.greeting()

Hello

In [ ]:
a=[1,2,3]
a.append(4) # a라는 이름의 인스턴스가 append라는 이름의 method 실행
print(type(a))

<class 'list'>

In [ ]:
class Robot:
    def __init__(self): #initialize 라서 init, 인스턴스 생성 즉시 이 함수로 들어옴
    # 이 함수명은 약속된 이름이다 (special method)
        print("__init__으로 들어옴")

bot1 = Robot()

__init__으로 들어옴

In [ ]:
class Robot:
    def __init__(self, height, sentence): #initialize 라서 init, 인스턴스 생성 즉시 이 함수로 들어옴
        self.height = height # self.height는 밖에서 들어온 height랑은 다른 거임.
        self.sentence = sentence
        # self는 만들어진 인스턴스 자기자신 자체를 가리킴.
        # self.무엇은 self 내부의 것(변수, 함수)을 가리킴.
        # 클래스 내부의 변수는 속성(attribute)이라고 한다.

    def greeting(self):
        print(self.sentence)
        print(f"제 키는 {self.height} 에요")

bot1 = Robot(180, "안녕")
bot1.greeting()

print(bot1.height)
print(bot1.sentence)
bot1.height -= 10
bot1.greeting()

bot2 = Robot(160, "하이")
bot2.greeting()

안녕
제 키는180에요
180
안녕
안녕
제 키는170에요
하이
제 키는160에요

In [ ]:
class Robot:
    def __init__(self, height, sentence):
        self.__height = height # 비공개로 만들고 싶은 속성은 앞에 밑줄 두 개
        self.sentence = sentence

    def greeting(self):
        print(self.sentence)
        print(f"제 키는 {self.height} 에요")

bot1 = Robot(180,"hi")
bot1.greeting()
print(bot1.__height)